# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [31]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [13]:
weather_data_df=pd.read_csv("weatherdata.csv")
weather_data_df

,city name,lat,lon,temp,humidity,cloudiness,wind speed
0,budhlada,29.9333,75.5667,301.09,44,overcast clouds,4.59
1,severo-kurilsk,50.6789,156.1250,283.67,56,clear sky,3.30
2,mataura,-46.1927,168.8643,284.53,98,light rain,3.49
3,upernavik,72.7868,-56.1549,273.29,77,overcast clouds,3.42
4,kungurtug,50.5994,97.5228,283.72,75,overcast clouds,1.59
...,...,...,...,...,...,...,...
562,manzhouli,49.6000,117.4333,288.55,41,overcast clouds,4.17
563,uruguaiana,-29.7547,-57.0883,288.11,67,clear sky,2.06
564,mutis,6.2262,-77.4044,299.08,88,overcast clouds,2.17
565,bamako,12.6500,-8.0000,304.38,26,few clouds,0.40
566,winnemucca,40.9730,-117.7357,299.32,20,broken clouds,7.04

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [20]:
locations = weather_data_df[["lat", "lon"]].astype(float)
humidity=weather_data_df['humidity'].astype(float)
locations

         lat       lon
0    29.9333   75.5667
1    50.6789  156.1250
2   -46.1927  168.8643
3    72.7868  -56.1549
4    50.5994   97.5228
..       ...       ...
562  49.6000  117.4333
563 -29.7547  -57.0883
564   6.2262  -77.4044
565  12.6500   -8.0000
566  40.9730 -117.7357

[567 rows x 2 columns]

In [7]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [66]:
hotel_df=weather_data_df.loc[(weather_data_df['temp']<290) &
                                 (weather_data_df['humidity']<50)
                                 & (weather_data_df['wind speed']<10)]
hotel_df
#clearly something went very wrong in the temp column, but this is for experimental purposes anyway

,city name,lat,lon,temp,humidity,cloudiness,wind speed
10,baker city,44.7749,-117.8344,287.37,35,clear sky,6.17
30,nyurba,63.2842,118.3319,276.93,30,broken clouds,1.49
34,yellowknife,62.4560,-114.3525,276.44,38,scattered clouds,6.17
91,haines junction,60.7522,-137.5108,287.12,35,overcast clouds,1.03
99,maltahohe,-24.8333,16.9833,288.06,39,clear sky,1.32
108,bulgan,48.8125,103.5347,288.53,40,broken clouds,6.11
152,swan hill,-35.3378,143.5544,289.40,47,broken clouds,3.68
175,vanavara,60.3400,102.2797,274.17,46,few clouds,3.75
186,port pirie,-33.1833,138.0167,289.20,34,overcast clouds,4.89
197,norman wells,65.2820,-126.8329,283.17,43,broken clouds,2.06
218,verkhnevilyuysk,63.4453,120.3167,277.35,30,overcast clouds,1.64
220,zabaykalsk,49.6333,117.3167,288.32,40,overcast clouds,3.77
232,port augusta,-32.5000,137.7667,289.23,30,overcast clouds,5.22
236,taywarah,33.3500,64.4167,281.88,30,clear sky,1.84
297,sendafa,9.1500,39.0333,287.79,43,overcast clouds,2.34
352,chara,56.9064,118.2631,273.58,43,broken clouds,0.31
370,rafaela,-31.2503,-61.4867,288.18,49,overcast clouds,1.79
371,ust-maya,60.4167,134.5333,280.87,26,overcast clouds,5.42
384,tagab,34.8550,69.6492,288.10,47,clear sky,1.61
390,berdigestyakh,62.0989,126.6992,278.75,28,overcast clouds,1.81
394,alice springs,-23.7000,133.8833,286.90,18,clear sky,5.82
399,yulara,-25.2406,130.9889,288.06,29,overcast clouds,5.14
415,tahe,52.3333,124.7333,284.84,38,clear sky,1.48
428,chulman,56.8479,124.9104,275.87,31,scattered clouds,2.12
439,midyat,37.4247,41.3393,287.75,35,clear sky,1.50
471,barkly west,-28.5354,24.5215,281.75,36,clear sky,5.20
483,zhigalovo,54.8097,105.1578,282.72,43,overcast clouds,2.17
484,borogontsy,62.6683,131.1683,280.26,25,broken clouds,3.08
486,mugan,35.9404,101.3842,285.77,27,clear sky,5.87
515,zhigansk,66.7697,123.3711,276.68,39,overcast clouds,2.32
540,opuwo,-18.0607,13.8400,288.76,36,clear sky,1.26
551,chernyshevskiy,63.0128,112.4714,273.61,46,overcast clouds,1.88
562,manzhouli,49.6000,117.4333,288.55,41,overcast clouds,4.17

In [61]:
hotel_name=[]
for index, row in hotel_df.iterrows():
    try:
        lat=row['lat']
        lon=row['lon']
        #print(location)
        query= f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={lat},{lon}&radius=5000&keyword=hotel&key={g_key}"
        response=requests.get(query).json()
        hotel_name.append(response['results'][0]['name'])
    except IndexError:
        hotel_name.append("")

In [62]:
hotel_name

['Geiser Grand Hotel',
 'Gostinitsa Alrosa',
 'The Explorer Hotel',
 'Alcan Motor Inn',
 'Maltahöhe Hotel',
 '',
 'Swan Hill Resort',
 '',
 'Ellen Hotel',
 'Heritage Hotel',
 'Gostinitsa Mila',
 'Manzhouli Aolong Business Hotel',
 'Majestic Oasis Apartments',
 '',
 '',
 'Sberbank Rossii',
 'Hotel Plaza Rafaela',
 '',
 '',
 '',
 'DoubleTree by Hilton Hotel Alice Springs',
 'The Lost Camel Hotel - Ayers Rock Resort',
 '',
 '',
 'Shmayaa Hotel',
 'Die Olyfhuis',
 'Gostinitsa "Imperiya"',
 '',
 '',
 'Gostinichnyy Kompleks Aylgy',
 'Opuwo Country Lodge',
 '',
 'Manzhouli Shangri-La Hotel']

In [63]:
hotel_df["Hotel Name"]=hotel_name

<ipython-input-63-5dbff9d9c528>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hotel_df["Hotel Name"]=hotel_name

In [15]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

KeyError: 'Hotel Name'

In [ ]:
# Add marker layer ontop of heat map


# Display figure